<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name="com.example.mybinder.controllers.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyBinder"
        tools:targetApi="33">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.mybinder.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Listas.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Funciones.AñadirCarta"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Funciones.EditSTCard"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Detalles.DetallesCartaST"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Detalles.DetallesCartaMon"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Funciones.EditMonCard"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Funciones.Filtrado_activity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Listas.Filtrado_list"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Listas.Lista_cambio"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Listas.Mazos_Activity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Funciones.Crear_Mazo_Activity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Funciones.Editar_Mazo_Activity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Funciones.Probabilidad_Activity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>